In [2]:
#single line comment

In [5]:
#var can store any value and it can be called at any part of program
a=20

In [6]:
name="Alice" #string
age=40         #integer
height=4.4         
is_student=True

In [8]:
print("name: ", name)
print("age: ", age)
print("Height: ", height)
print("Is student: ", is_student)

name:  Alice
age:  40
Height:  4.4
Is student:  True

In [9]:
a=input("age??")

age??29

In [10]:
a

'29'

In [11]:
b=input(" type.... ")

 type.... abc

In [12]:
b

'abc'

In [13]:
#it will show error because it takes input as a string, so it is nt able to perform addition
a+20

TypeError: can only concatenate str (not "int") to str

In [15]:
c=int(input("c: "))

c: 35

In [16]:
c+45

80

In [4]:
import pandas as pd

# Sample data for sales transactions and customer information
sales_data = {
    'TransactionID': [1, 2, 3, 4, 5],
    'CustomerID': [101, 102, 103, 104, 101],
    'Amount': [250, 300, 400, 500, 600],
    'Date': ['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04', '2025-01-05']
} # Display Amount and Date from sales data
customer_data = {
    'CustomerID': [101, 102, 103, 104],
    'CustomerName': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [30, 35, 40, 25],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}# Display Customer name and city from customer data
# Display customer ids  with amount>400
# Convert data into DataFrame
sales_df = pd.DataFrame(sales_data)
customers_df = pd.DataFrame(customer_data)
# Show basic structure of sales_df
print("Sales DataFrame:")
print(sales_df.head())

# 1. Exploring the dataset (using shape and describe)
print("\nShape of sales data:", sales_df.shape)  # Get number of rows and columns
print("\nSales data statistics:")
print(sales_df.describe())  # Summary statistics
print("Sales dataframe",sales_df)
print("customers_df",customers_df)

#   Filter a dataframe of sales dataframe where sales amount >400
#display(data.loc[(data.Brand == 'Maruti') & (data.Year == 2012)])

Sales DataFrame:
   TransactionID  CustomerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         101     600  2025-01-05

Shape of sales data: (5, 4)

Sales data statistics:
       TransactionID  CustomerID      Amount
count       5.000000     5.00000    5.000000
mean        3.000000   102.20000  410.000000
std         1.581139     1.30384  143.178211
min         1.000000   101.00000  250.000000
25%         2.000000   101.00000  300.000000
50%         3.000000   102.00000  400.000000
75%         4.000000   103.00000  500.000000
max         5.000000   104.00000  600.000000
Sales dataframe    TransactionID  CustomerID  Amount        Date
0              1         101     250  2025-01-01
1              2         102     300  2025-01-02
2              3         103     400  2025-01-03
3              4         104     500  2025-01-04
4              5         101     600  2025-01-05
customers_df    CustomerID CustomerName  Age         City
0         101        Alice   30     New York
1         102          Bob   35  Los Angeles
2         103      Charlie   40      Chicago
3         104        David   25      Houston

In [2]:
# 2. Merging data (Sales with Customer info)
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='inner')
print("\nMerged DataFrame:")
print(merged_df)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              5         101     600  2025-01-05        Alice   30
2              2         102     300  2025-01-02          Bob   35
3              3         103     400  2025-01-03      Charlie   40
4              4         104     500  2025-01-04        David   25

          City
0     New York
1     New York
2  Los Angeles
3      Chicago
4      Houston

In [5]:
# 2. Merging data (Sales with Customer info)
merged_df = pd.merge(sales_df, customers_df, on='CustomerID', how='inner')
print("\nMerged DataFrame:")
print(merged_df)

# 3. Accessing data using `loc` and `iloc`
print("\nAccess data using `loc` (row 1):")
print(merged_df.loc[1])

print("\nAccess data using `iloc` (row 2):")
print(merged_df.iloc[2])

# 4. Handling Missing Values
# Let's introduce some missing data for demonstration
merged_df.loc[2, 'Age'] = None  # Introduce missing value in Age column
print(merged_df)
# Check for missing values
print("\nCheck missing values (isnull):")
print(merged_df.isnull().sum())

# Fill missing values with the mean (for Age column)
merged_df['Age'].fillna(merged_df['Age'].mean(), inplace=True)
print("\nData after filling missing values:")
print(merged_df)

# 5. Aggregation: Calculate the mean sales per customer
mean_sales = merged_df.groupby('CustomerName')['Amount'].mean()
print("\nMean sales per customer:")
print(mean_sales)

Merged DataFrame:
   TransactionID  CustomerID  Amount        Date CustomerName  Age  \
0              1         101     250  2025-01-01        Alice   30
1              5         101     600  2025-01-05        Alice   30
2              2         102     300  2025-01-02          Bob   35
3              3         103     400  2025-01-03      Charlie   40
4              4         104     500  2025-01-04        David   25

          City
0     New York
1     New York
2  Los Angeles
3      Chicago
4      Houston

Access data using `loc` (row 1):
TransactionID             5
CustomerID              101
Amount                  600
Date             2025-01-05
CustomerName          Alice
Age                      30
City               New York
Name: 1, dtype: object

Access data using `iloc` (row 2):
TransactionID              2
CustomerID               102
Amount                   300
Date              2025-01-02
CustomerName             Bob
Age                       35
City             Los Angeles
Name: 2, dtype: object
   TransactionID  CustomerID  Amount        Date CustomerName   Age  \
0              1         101     250  2025-01-01        Alice  30.0
1              5         101     600  2025-01-05        Alice  30.0
2              2         102     300  2025-01-02          Bob   NaN
3              3         103     400  2025-01-03      Charlie  40.0
4              4         104     500  2025-01-04        David  25.0

          City
0     New York
1     New York
2  Los Angeles
3      Chicago
4      Houston

Check missing values (isnull):
TransactionID    0
CustomerID       0
Amount           0
Date             0
CustomerName     0
Age              1
City             0
dtype: int64

Data after filling missing values:
   TransactionID  CustomerID  Amount        Date CustomerName    Age  \
0              1         101     250  2025-01-01        Alice  30.00
1              5         101     600  2025-01-05        Alice  30.00
2              2         102     300  2025-01-02          Bob  31.25
3              3         103     400  2025-01-03      Charlie  40.00
4              4         104     500  2025-01-04        David  25.00

          City
0     New York
1     New York
2  Los Angeles
3      Chicago
4      Houston

Mean sales per customer:
CustomerName
Alice      425.0
Bob        300.0
Charlie    400.0
David      500.0
Name: Amount, dtype: float64